.header {
    background-image: linear-gradient(135deg,#006054,#00332b);
    color: white;
    padding-bottom: 7px;
}

.stops {
    padding: 1em;
}

.stops ul {
    list-style: none;
    padding-left: 0;
}

.stops li {
    background-color: white;
    border: solid 2px #d0d0d0;
    border-radius: .2em;
    margin-bottom: 1em;

    padding: 10px 10px 10px 10px;

    display: grid;
    grid-template-areas: 
        "a a a b";
    grid-template-columns: 1fr 1fr 1fr 20px;
}
.stops li div {
    grid-area: a;

    h1 {
        max-width: none;
        font-weight: bold;
        margin-bottom: 0;
        font-size: 16px;
    }
    
    p {
        font-weight: 400;
        font-size: 14px;
    }
}

.stop_drag_handle {
    grid-area: b;
    justify-self: center;
    align-self: center;
    vertical-align: middle;
    color: rgba(0, 0, 0, 0.4);
}

.back_button {
    display: block;

    width: fit-content;
    width: -moz-fit-content;
    margin-top: 7px;
    margin-left: 12px;
    padding: 8px;

    border-radius: 3px;

    font-weight: 500;

    transition: background-color 0.2s;
}

.back_button:hover {
    background-color: rgba(255, 255, 255, 0.2);
}

.back_button_icon, .back_button_text {
    vertical-align: middle;
}

.back_button_icon {
    margin-right: 8px;
}

.actions {
    padding: 1em;
    padding-top: 0;
}

.side_by_side {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));
    column-gap: 1em;
}

.phone_num_header {
    margin-top: 2em;
}

.phone_num_list {
    list-style: disc;
    padding: 1em 2em 1em 2em;

    li div p a:link {
        color: #0000EE;
        text-decoration: underline;
    }
}

.phone_num_input {
    padding: 0em 2em 0em 2em;
    line-height: 2em;
    text-align: center;
}

.phone_number_error {
    font-size: 0.75em;
    color: #C31A00;
}

.with_trash_can {
    display: grid;
    grid-template-columns: 1fr 1em;
    width: 100%;
    svg {
        color: #C31A00;
    }
}

.extra_phone_numbers_always {
    span div {
        color: rgba(0, 0, 0, 0.6);
        svg {
            transition: transform 150ms;
        }
    }
    div {
        color:rgba(0, 0, 0, 0.8);
        padding: 0.25em 0.675em 0 0.5em;
    }
    padding-bottom: 2em;
}

.extra_phone_numbers_always:not(.extra_phone_numbers_closed) span div svg {
    transform: rotateX(180deg);
}


.available_bus, .delete_bus, .modal_cancel, .modal_confirm {
    border: none;
    border-radius: 3px;
    cursor: pointer;
    padding: 8px 12px;
    font-size: 0.9rem;
    transition: background-color 0.2s, color 0.2s;
    margin: 0;

    svg {
        margin-right: 0.2rem;
    }
}

@mixin button($color) {
    background-color: rgba(0, 0, 0, 0.1);
    color: $color;
    &:hover {
        background-color: rgba(0, 0, 0, 0.2);
    }
    &:focus, &:active {
        background-color: $color;
        color: white;
    }
}

.green_action {
    @include button(#008327);
}

.destructive_action {
    @include button(#C31A00);
}

.modal_title {
    margin-bottom: 15px;
}

.modal_cancel {
    background-color: rgba(0, 0, 0, 0.1);
    margin-right: 8px;
}

.modal_cancel:hover {
    background-color: rgba(0, 0, 0, 0.2);
}

.modal_cancel:focus, .modal_cancel:active {
    background-color: rgba(0, 0, 0, 0.3);
}

.modal_confirm {
    background-color: #C31A00;
    color: white;
}

.modal_confirm:hover {
    background-color: darken(#C31A00, 10%);
}

.modal_confirm:focus, .modal_confirm:active {
    background-color: darken(#C31A00, 20%);
}
