@import '../../variables';


.bus-view {
    height: 90px;

    display: grid;
    grid-template-columns: repeat(6, 1fr);
    gap: 10px;
    grid-template-areas:
        "a a a a b c"
        "a a a a b c";

    border-radius: 3px;
    padding: 0px 15px;

    background-color: white;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);

    overflow: hidden;
}

.bus-view.size-large {
    height: 130px;
}

.bus-view.size-compact {
    padding: 0 0 0 8px;
    grid-template-areas:
        "a a a a a a b c"
        "a a a a a a b c";

    border-radius: 3px;
    height: 25px + 2 * 1.5px;
    
    box-shadow: none;
    border: 1.5px solid rgba(0, 0, 0, 0.4);
}

.bus-name-and-status {
    grid-area: a;
    margin: auto 0px;
    line-height: 1.5;
    .bus-name {
        line-height: 0.6;
        font-size: 1.15rem;
        font-weight: 500;
    }
    .bus-name.bus-name-input {
        width: 100%;
    }
    .bus-status {
        font-weight: 450;
        font-size: 1rem;
        color: #6c757d;
    }
}


.bus-name-and-status.size-compact {
    height: 25px;
    line-height: 25px;
    margin: 0;

    .bus-name {
        font-size: 1rem;
        display: block;
        line-height: 25px;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
    }

    .bus-status {
        display: none;
    }
}

.bus-name-and-status.size-large {
    .bus-name {
        font-size: 1.5rem
    }
    .bus-status {
        font-size: 1.3rem;
    }
}



.bus-boarding-area-background-div {
    grid-area: c;
    justify-self: center;
    align-self: center;

    width: 50px;
    height: 50px;
    border-radius: 50%;
    
    color: #00796b;
    background-color: #e8edec;
    
    line-height: 50px;
    vertical-align: middle;
    text-align: center;
    
}

.bus-boarding-area-background-div.size-compact {
    width: 48px;
    height: 25px;
    line-height: 25px;
    border-radius: 0;

    
}

.bus-boarding-area-background-div.size-large {
    width: 100px;
    height: 100px;
    line-height: 100px;
}

.dnd-hover {
    opacity: 0.5;
    background-color: #3ac1ff;

    .bus-boarding-area-background-div {
        background-color: #00b0ff;
        color: transparent;
    }
}

.unavail-status {
    color: #b33a3a !important;
}

.bus-stat-avail {
    color: #b33a3a;
}
