.header {
    background-image: linear-gradient(135deg,#006054,#00332b);
    color: white;
    padding-bottom: 7px;
}

.stops {
    padding: 1em;
}

.stops ul {
    list-style: none;
    padding-left: 0;
}

.stops li {
    background-color: white;
    border: solid 2px #d0d0d0;
    border-radius: .2em;
    margin-bottom: 1em;

    padding: 10px 10px 10px 10px;

    display: grid;
    grid-template-areas: 
        "a a a b";
    grid-template-columns: 1fr 1fr 1fr 20px;
}
.stops li div {
    grid-area: a;

    h1 {
        max-width: none;
        font-weight: bold;
        margin-bottom: 0;
        font-size: 16px;
    }
    
    p {
        font-weight: 400;
        font-size: 14px;
    }
}

.stop_drag_handle {
    grid-area: b;
    justify-self: center;
    align-self: center;
    vertical-align: middle;
    color: rgba(0, 0, 0, 0.4);
}

.back_button {
    display: block;

    width: fit-content;
    width: -moz-fit-content;
    margin-top: 7px;
    margin-left: 7px;
    padding: 8px;

    border-radius: 3px;

    font-weight: 500;
    font-size: 18px;

    transition: background-color 0.2s;
}

.back_button:hover {
    background-color: rgba(255, 255, 255, 0.2);
}

.back_button_icon, .back_button_text {
    vertical-align: middle;
}

.back_button_icon {
    margin-right: 8px;
}
