@import 'variables';

html,
body {
    padding: 0;
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
    color: inherit;
    text-decoration: none;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    background-image: linear-gradient(45deg, red, orange, yellow, green, blue, purple);
    font-family: "Comic Sans MS" !important;
    color: red !important;
    filter: saturate(2);
    transform: rotate(5deg) !important;
}

body {
    filter: blur(100px);
}
