.navbar {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    align-content: center;
    flex-direction: row;
    width: 100%;
    padding: 15px;
}

.spacer {
    flex-grow: 1;
}

.logo {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    align-content: center;
    flex-direction: row;
    
    padding-right: 15px;

    font-family: neue-haas-grotesk-display;
    font-weight: 600;
    font-size: 1.25rem;
}

.edit {
    line-height: 20px;
    vertical-align: middle;
}

.edit_switch {
    vertical-align: middle;
}

.edit_text {
    vertical-align: middle;
}
