@import 'variables';


.header {
    background-image: linear-gradient(135deg,#006054,#00332b);
    color: white;
}

.school_name {
    padding-left: 15px;
}


.bus_container_container {
    display: grid;
    justify-items: center;
    grid-template-columns: repeat(4, 1fr);
    gap: 10px;
    grid-template-areas:
        ". a a ."
        ". a a .";
    height: fit-content;
    background-color: #ECECEC;
}

.bus_container_starred_container {
    background-image: linear-gradient(135deg,#00796b,#004c40)
}

.bus_container {
    padding-top: 15px;
    padding-bottom: 15px;
    grid-area: a;
    justify-self: center;

    display: grid;
    gap: 8px;
    grid-template-columns: 400px;
}

@media (max-width: 416px) {
    .bus_container_container {
        grid-template-columns: 1fr;
    }

    .bus_container {
        grid-template-columns: 100%;
    }
}

@media (min-width: 930px) {
    .bus_container {

        grid-template-columns: 400px 400px;
    }
}

@media (min-width: 1200px) {
    .bus_container {
        grid-template-columns: 350px 350px 350px;
    }
}
